# DEBUG False (off) DEBUG True (on)
DEBUG=off

# Quando uma string conter '#', colocar entre aspas duplas e simples
SECRET_KEY=sua_chave_secreta

# Databases
DATABASE_DEFAULT_URL=sqlite:///sqlite.db

# Lista separada por vírgula: ,
ALLOWED_HOSTS=127.0.0.1,localhost

# Route53
AWS_ACCESS_KEY_ID=sua-chave-id
AWS_SECRET_ACCESS_KEY=chave-acesso

# SERVER OPENVPN
USER_NAME=nome-usuario
PASS_CA=senha-CA

# Usar \ antes do $, para forçar o tipo string, pois $ é considerável variável. Ex: \$
PASS_USER=senha-usuario
